<h1>All Contacts:</h1>
<% @contacts.each do |contact| %>
<p> Name: <%= contact.first_name %> <%= contact.last_name %></p>
<p> Email: <%= contact.email %></p>
<p> Phone Number: <%= contact.phone_number %></p>
<% end %>