<h1>First Contact:</h1>
<ul class = "info">
<li>Name: <%= @contact.first_name %> <%= @contact.last_name %></li>
<li>Email: <%= @contact.email %></li>
<li>lihone Number: <%= @contact.phone_number %></li>
</ul>