<% @contacts.each do |contact| %>
  <p>Name:<%= link_to("#{contact.first_name} #{contact.last_name}", "/contacts#{contact.id}") %></p>
  <p>Email: <%= contact.email %></p>
  <p>Phone Number: <%= contact.phone_number %></p>
  <%= link_to "Delete Contact Please", "/contacts/#{contact.id}", method: :delete %>
<p>-----</p>
<% end %>