// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-color: SteelBlue;

h1 {
  color: $default-color;
}

.info {
 color: pink;
 background-color: $default-color; 
}

div {
  border-color: $default-color;
}

